$icomoon-font-family: "norwegian-icons-set" !default;
$icomoon-font-path: "fonts" !default;

$nis-add-user: "\e900";
$nis-anchor: "\e901";
$nis-archive: "\e902";
$nis-arrow-down-small: "\e903";
$nis-arrow-left-large: "\e904";
$nis-arrow-left-medium: "\e905";
$nis-arrow-left-small: "\e906";
$nis-arrow-left: "\e907";
$nis-arrow-right-large: "\e908";
$nis-arrow-right-medium: "\e909";
$nis-arrow-right-small: "\e90a";
$nis-arrow-right: "\e90b";
$nis-arrow-up-small: "\e90c";
$nis-asterisk: "\e90d";
$nis-award-solid: "\e90e";
$nis-award: "\e90f";
$nis-bars: "\e910";
$nis-beverages: "\e911";
$nis-bike: "\e912";
$nis-binoculars: "\e913";
$nis-brochure: "\e914";
$nis-calendar-rounded: "\e915";
$nis-calendar: "\e916";
$nis-camera: "\e917";
$nis-caret-down: "\e918";
$nis-caret-left: "\e919";
$nis-caret-right: "\e91a";
$nis-caret-up: "\e91b";
$nis-cart-off: "\e91c";
$nis-cart-on: "\e91d";
$nis-cart-solid: "\e91e";
$nis-check-user: "\e91f";
$nis-check: "\e920";
$nis-chevron-down: "\e921";
$nis-chevron-left: "\e922";
$nis-chevron-right-bold: "\e923";
$nis-chevron-right: "\e924";
$nis-chevron-up: "\e925";
$nis-chronometer: "\e926";
$nis-circle-check: "\e927";
$nis-circle-minus: "\e928";
$nis-circle-plus: "\e929";
$nis-circle-times: "\e92a";
$nis-clock: "\e92b";
$nis-cocktail-solid: "\e92c";
$nis-cocktail: "\e92d";
$nis-comment: "\e92e";
$nis-copy: "\e92f";
$nis-dash: "\e930";
$nis-dining: "\e931";
$nis-dot-circle: "\e932";
$nis-drops: "\e933";
$nis-email-back: "\e934";
$nis-email: "\e935";
$nis-exclamation: "\e936";
$nis-exit: "\e937";
$nis-expand-off: "\e938";
$nis-expand-on: "\e939";
$nis-external-link: "\e93a";
$nis-facebook: "\e93b";
$nis-favorite-off: "\e93c";
$nis-favorite-on: "\e93d";
$nis-flag-solid: "\e93e";
$nis-flag: "\e93f";
$nis-globe: "\e940";
$nis-google: "\e941";
$nis-hand-mony: "\e942";
$nis-helicopter: "\e943";
$nis-help: "\e944";
$nis-hotel: "\e945";
$nis-hourglass: "\e946";
$nis-instagram: "\e947";
$nis-level: "\e948";
$nis-like: "\e949";
$nis-map-marked: "\e94a";
$nis-map: "\e94b";
$nis-marker-solid: "\e94c";
$nis-marker: "\e94d";
$nis-minus: "\e94e";
$nis-money: "\e94f";
$nis-museum: "\e950";
$nis-ncl-shield: "\e951";
$nis-overnight-solid: "\e952";
$nis-overnight: "\e953";
$nis-pencil: "\e954";
$nis-phone-off: "\e955";
$nis-phone-on: "\e956";
$nis-pinterest: "\e957";
$nis-plane-dual: "\e958";
$nis-plane-solid: "\e959";
$nis-plane-up: "\e95a";
$nis-plane: "\e95b";
$nis-plus: "\e95c";
$nis-printer: "\e95d";
$nis-refresh: "\e95e";
$nis-resize: "\e95f";
$nis-search: "\e960";
$nis-settings: "\e961";
$nis-share: "\e962";
$nis-ship: "\e963";
$nis-sliders: "\e964";
$nis-stairs: "\e965";
$nis-star-rounded: "\e966";
$nis-star-thin: "\e967";
$nis-star: "\e968";
$nis-suitcase-off: "\e969";
$nis-suitcase-on: "\e96a";
$nis-sunglass: "\e96b";
$nis-tachometer-hight: "\e96c";
$nis-tachometer-low: "\e96d";
$nis-tachometer-medium: "\e96e";
$nis-thermometer: "\e96f";
$nis-times-bold: "\e970";
$nis-times: "\e971";
$nis-trash: "\e972";
$nis-triangle-exclamation: "\e973";
$nis-triangle-right-up: "\e974";
$nis-tropical: "\e975";
$nis-twitter: "\e976";
$nis-upload: "\e977";
$nis-user: "\e978";
$nis-vault: "\e979";
$nis-view-360: "\e97a";
$nis-view-grid: "\e97b";
$nis-view-list: "\e97c";
$nis-wave-bold: "\e97d";
$nis-wave: "\e97e";
$nis-wearable: "\e97f";
$nis-wheelchair: "\e980";
$nis-wifi-thin: "\e981";
$nis-wifi: "\e982";
$nis-wings: "\e983";
$nis-youtube: "\e984";

