/* Element styles */
.e64 {
    $a: &;
    &_header {
        &:not(:last-child) {
            margin-bottom: rem(5px);
        }
        &_title {
            display: flex;
        }
    }
    &_body {
        &_text {
            display: block;
        }
        &_price {
            &_item {
                &:not(:last-child) {
                    margin-right: rem(5px);
                    html[dir="rtl"] & {
                        margin-right: 0;
                        margin-left: rem(5px);
                    }
                }
            }
        }
    }
    &.-variant-1 {
        @include media-breakpoint-down(xs) {
            display: flex;
            align-items: center;
            #{$a}_header {
                margin-bottom: 0;
            }
            #{$a}_body {
                display: inline-flex;
                margin-left: rem(5px);
                &_text {
                    &:after {
                        content: ',';
                    }
                }
            }
            html[dir="rtl"] & {
                #{$a}_body {
                    margin-right: rem(5px);
                    margin-left: 0;
                }
            }
        }
    }
    &.-variant-2 {
        @include media-breakpoint-up(md) {
            display: flex;
            flex-direction: column;
            #{$a}_header {
                margin-bottom: 0;
                order: 2;
            }
            #{$a}_body {
                margin-bottom: rem(5px);
                order: 1;
            }
        }
    }
    &.-variant-3 {
        display: flex;
        flex-direction: column;
        #{$a}_header {
            margin-bottom: 0;
            order: 2;
        }
        #{$a}_body {
            margin-bottom: rem(5px);
            order: 1;
        }
    }
    &.-variant-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        #{$a}_header {
            margin-bottom: rem(20px);
        }
        #{$a}_body {
            width: 100%;
            text-align: center;
        }
    }
    &.-variant-5 {
        text-align: center;
        #{$a}_header {
            display: flex;
            justify-content: center;
            margin-bottom: rem(10px);
        }
        #{$a}_body {
            display: flex;
            justify-content: center;
        }
    }
    &.-variant-6 {
        #{$a}_header {
            margin-bottom: rem(20px);
        }
    }
    &.-variant-7 {
        @include media-breakpoint-up(lg) {
            top: rem(210px);
        }
        @include media-breakpoint-up(md) {
            position: absolute;
            right: 0;
        }
        @include media-breakpoint-only(md) {
            top: rem(350px);
        }
        html[dir="rtl"] & {
            @include media-breakpoint-up(md) {
                left: 0;
                right: auto;
            }
        }
        #{$a}_header {
            &_title {
                @include media-breakpoint-up(md) {
                    padding-right: rem(34px);
                    justify-content: flex-end;
                }
                html[dir="rtl"] & {
                    @include media-breakpoint-up(md) {
                        padding-left: rem(34px);
                        padding-right: 0;
                    }
                }
            }
        }
        #{$a}_body {
            &_text {
                @include media-breakpoint-up(lg) {
                    width: rem(150px);
                }
                @include media-breakpoint-up(md) {
                    margin: 0 0 0 auto;
                }
                @include media-breakpoint-only(md) {
                    width: rem(130px);
                }
            }
        }
    }
    &.-variant-8 {
        #{$a}_header {
            margin-bottom: rem(5px);
        }
    }
    &.-variant-9 {
        #{$a}_header {
            margin-bottom: rem(5px);
            &_title {
                display: block;
                text-align: center;
            }
        }
        #{$a}_body {
            &_text {
                display: block;
                text-align: center;
            }
        }
    }
    &.-variant-10 {
        #{$a}_header {
            margin-bottom: rem(10px);
        }
    }
    &.-variant-11 {
        text-align: center;
        #{$a}_header {
            margin-bottom: rem(20px);
            &_title {
                justify-content: center
            }
        }
    }
    &.-variant-12 {
        @include media-breakpoint-up(md) {
            display: flex;
        }
        @include media-breakpoint-down(xs) {
            text-align: center;
        }
        @media print {
            display: flex;
            text-align: left;
        }
        #{$a}_header {
            @include media-breakpoint-up(md) {
                width: rem(200px);
                &:not(:last-child) {
                    margin-right: rem(20px);
                    margin-bottom: 0;
                }
            }
            @media print {
                width: rem(180px);
                &:not(:last-child) {
                    margin-right: rem(20px);
                    margin-bottom: 0;
                }
            }
            &_title {
                @include media-breakpoint-down(xs) {
                    justify-content: center;
                }
                @media print {
                    justify-content: flex-start;
                }
            }
            html[dir="rtl"] & {
                @include media-breakpoint-up(md) {
                    &:not(:last-child) {
                        margin-left: rem(20px);
                        margin-right: 0;
                    }
                }
                @media print {
                    &:not(:last-child) {
                        margin-left: rem(20px);
                        margin-right: 0;
                    }
                }
            }
        }
    }
    &.-variant-13 {
        display: flex;
        flex-direction: column;
        height: 100%;
        #{$a}_header {
            flex: 1 1 auto;
        }
    }
}
