/* Component styles */
.c389 {
    $a: &;
    &_header {
        margin-bottom: rem(20px);
    }
    &_block {
        &:not(:last-child) {
            margin-bottom: rem(20px);
        }
    }
    &_group {
        @include media-breakpoint-up(md) {
            display: flex;
        }
        &_item {
            &.-separator {
                @include media-breakpoint-up(md) {
                    padding: rem(0 30px);
                }
            }
            &:not(:last-child) {
                @include media-breakpoint-down(xs) {
                    margin-bottom: rem(30px);
                }
            }
            &:first-child {
                flex: 1 1 0;
            }
            &:last-child {
                flex: 1 1 0;
            }
            .e35 {
                &.-verticalToHorizontal{
                    @include media-breakpoint-up(md) {
                        position: relative;
                        display: flex;
                        align-items: center;
                        height: 100%;
                    }
                    .e35_text {
                        @include media-breakpoint-up(md) {
                            top: auto;
                        }
                    }
                }
            }
        }
    }
    &.-variant-1 {
        border: $border-grey-2;
        border-radius: rem(2px);
        background-color: $white;
        @include media-breakpoint-up(lg) {
            max-width: rem(616px)
        }
        @include media-breakpoint-only(md) {
            max-width: rem(580px)
        }
        #{$a}_header {
            background-color: $cool-grey-10;
            border-bottom: $border-grey-2;
            margin-bottom: 0;
            @include media-breakpoint-up(md) {
                padding: rem(20px 30px);
            }
            @include media-breakpoint-down(xs) {
                padding: rem(20px);
            }
        }
        #{$a}_body {
            @include media-breakpoint-up(md) {
                padding: rem(30px);
            }
            @include media-breakpoint-down(xs) {
                padding: rem(30px 20px);
            }
        }
        #{$a}_block {
            &:not(:last-child) {
                margin-bottom: rem(30px);
            }
        }
    }
    &.-variant-2 {
        #{$a}_header {
            @include media-breakpoint-up(md) {
                padding-right: rem(30px);
            }
        }
        html[dir="rtl"] & {
            #{$a}_header {
                @include media-breakpoint-up(md) {
                    padding-left: rem(30px);
                    padding-right: 0;
                }
            }
        }
    }
    // .-variant-3 for when no social media $items passed when calling component
    &.-variant-3 {
        @include media-breakpoint-up(lg) {
            max-width: rem(367px);
        }
        @include media-breakpoint-only(md) {
            max-width: rem(324px);
        }
        #{$a}_header {
            @include media-breakpoint-up(md) {
                padding-right: rem(30px);
            }
        }
        #{$a}_group {
            flex-direction: column;
            &_item {
                &:not(:last-child) {
                    margin-bottom: rem(10px);
                }
            }
        }
        html[dir="rtl"] & {
            #{$a}_header {
                @include media-breakpoint-up(md) {
                    padding-left: rem(30px);
                    padding-right: 0;
                }
            }
        }
    }
    &.-variant-4 {
        border: $border-grey-2;
        border-radius: rem(2px);
        background-color: $white;
        @include media-breakpoint-up(md) {
            width: rem(485px);
        }
        #{$a}_header {
            background-color: $cool-grey-10;
            border-bottom: $border-grey-2;
            margin-bottom: 0;
            @include media-breakpoint-up(md) {
                padding: rem(20px 30px);
            }
            @include media-breakpoint-down(xs) {
                padding: rem(20px);
            }
        }
        #{$a}_body {
            @include media-breakpoint-up(md) {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: rem(30px);
            }
            @include media-breakpoint-down(xs) {
                padding: rem(30px 20px);
            }
        }
        #{$a}_block {
            @include media-breakpoint-up(md) {
                max-width: rem(275px);
                width: 100%;
            }
            &:not(:last-child) {
                margin-bottom: rem(30px);
            }
        }
    }
}
