/* Component styles */
.c399 {
    $a: &;
    background-color: $white;
    &_header {
        margin-bottom: rem(30px);
    }
    &_form {
        @include media-breakpoint-up(md) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &_footer {
        margin-top: rem(30px);
        padding-top: rem(20px);
        border-top: $border-grey-2;
    }
    &_block {
        &:not(:last-child) {
            margin-bottom: rem(30px);
        }
        @include media-breakpoint-up(md) {
            max-width: rem(230px);
            width: 100%;
        }
        .btn {
            min-width: rem(230px);
            width: 100%;
        }
    }
    &_group {
        width: 100%;
        &_item {
            &:not(:last-child) {
                margin-bottom: rem(20px);
            }
        }
    }
    &.-variant-1 {
        border: $border-grey-2;
        border-radius: rem(2px);
        @include media-breakpoint-up(md) {
            width: rem(485px);
        }
        @include media-breakpoint-up(md) {
            padding: rem(30px);
        }
        @include media-breakpoint-down(xs) {
            padding: rem(30px 20px);
        }
        #{$a}_block {
            @include media-breakpoint-up(md) {
                max-width: rem(275px);
            }
        }
    }
    &.-variant-2 {
        @include media-breakpoint-up(md) {
            max-width: rem(402px);
        }
        #{$a}_header {
            @include media-breakpoint-up(md) {
                padding-right: rem(30px);
                html[dir="rtl"] & {
                    padding-right: 0;
                    padding-left: rem(30px);
                }
            }
        }
    }
}
