//
// NORWEGIAN VARIABLES
//

@use "sass:math";

// Fonts

$font-merriweather:                 "Merriweather";
$font-liontin-slant:                "Liontin Slant";
$font-hertine:                      "Hertine";

$font-futura-book:                  "Futura Book";
$font-futura-light:                 "Futura Light";
$font-futura-medium:                "Futura Medium";
$font-futura-bold:                  "Futura Bold";
$font-web-safe:                     Helvetica, Arial, sans-serif;

$font-family-primary:               $font-merriweather;
$font-family-secondary:             $font-futura-book;
$font-family-tertiary:              $font-liontin-slant;

$font-family-icon:                  "norwegian-icons-set";
$icomoon-font-family:               $font-family-icon;

$text-light:                        100;
$text-book:                         300;
$text-regular:                      400;
$text-medium:                       500;
$text-bold:                         700;

$text-size:                         16px;

// Colors

// Brand Colors

$navy:                              #284560;
$blue:                              #0A84BD;
$teal:                              #50AACF;
$bright-blue:                       #99EEF9;

$white:                             #FFFFFF;
$black:                             #000000;
$warm-grey:                         #8C8C8C;

$orange:                            #FF8309;
$yellow:                            #FFF43B;
$magenta:                           #DE1F75;

// Primary Palette

$navy-10:                           #D4DADF;
$navy-20:                           #A9B5BF;
$navy-30:                           #7E8FA0;
$navy-40:                           #536A80;
$navy-50:                           $navy;
$navy-60:                           #20374D;
$navy-70:                           #0D2236;
$navy-80:                           #0A1B2B;
$navy-90:                           #080E13;

$blue-10:                           #E0F2FF;
$blue-20:                           #B6DAEB;
$blue-30:                           #85C2DE;
$blue-40:                           #3B9DCA;
$blue-50:                           $blue;
$blue-60:                           #0071A6;
$blue-70:                           #0B6894;
$blue-80:                           #00557D;
$blue-90:                           #05425F;

$teal-10:                           #DCEEF5;
$teal-20:                           #B9DDEC;
$teal-30:                           #96CCE2;
$teal-40:                           #73BBD9;
$teal-50:                           $teal;
$teal-60:                           #4899BA;
$teal-70:                           #4281A6;
$teal-80:                           #30667C;
$teal-90:                           #204453;

$bright-blue-10:                    #EBFCFE;
$bright-blue-20:                    #D6F8FD;
$bright-blue-30:                    #CCF6FC;
$bright-blue-40:                    #ADF1FA;
$bright-blue-50:                    $bright-blue;
$bright-blue-60:                    #7ABEC7;
$bright-blue-70:                    #5C8F95;
$bright-blue-80:                    #425E66;
$bright-blue-90:                    #1F3032;

// Secondary Palettes

$warm-grey-10:                      #E8E8E8;
$warm-grey-15:                      #DEDEDE;
$warm-grey-20:                      #D1D1D1;
$warm-grey-30:                      #BABABA;
$warm-grey-40:                      #A3A3A3;
$warm-grey-50:                      $warm-grey;
$warm-grey-60:                      #707070;
$warm-grey-70:                      #545454;
$warm-grey-80:                      #383838;
$warm-grey-90:                      #1C1C1C;

$cool-grey-5:                       #FAFAFA;
$cool-grey-10:                      #F6F8FA;
$cool-grey-20:                      #EEF2F6;
$cool-grey-30:                      #E4E8EC;
$cool-grey-40:                      #D7E2E7;
$cool-grey-50:                      #CAD2D8;
$cool-grey-60:                      #AFBBC5;
$cool-grey-70:                      #95A5B1;
$cool-grey-80:                      #7a8e9e;
$cool-grey-90:                      #62727E;

$green-10:                          #DDF2EE;
$green-50:                          #34C2B2;
$green-80:                          #3D7B83;

$orange-50:                         $orange;
$orange-60:                         #E17913;

$grey-blue:                         #7CABC2;

$gold:                              #AF8F46;

// Alerts Palette

$neutral-10:                        #D7FAFF;
$neutral-30:                        #AFE5F2;
$neutral-50:                        #5BB7DD;
$neutral-70:                        #2E8DB3;
$neutral-90:                        #215B72;

$important-10:                      #FFFDDF;
$important-30:                      #FDEAA1;
$important-50:                      #FFD645;
$important-70:                      #EEBC09;
$important-90:                      #DC8C24;

$success-10:                        #DCFFE7;
$success-30:                        #BEF0CF;
$success-50:                        #74D996;
$success-70:                        #48B66D;
$success-90:                        #349053;

$error-10:                          #FFE7EB;
$error-30:                          #FFC1C1;
$error-50:                          #FF6767;
$error-70:                          #D75656;
$error-90:                          #A53535;

// Opacity colors

$opacity-black-1:                   rgba($black, .2);

$opacity-white-1:                   rgba($white, .2);
$opacity-white-2:                   rgba($white, .5);
$opacity-white-3:                   rgba($white, .75);

$opacity-blue-1:                    rgba($blue-10, .5);
$opacity-blue-2:                    rgba($blue-50, .5);
$opacity-blue-3:                    rgba($blue-60, .5);

$opacity-cool-grey-1:               rgba($cool-grey-20, .5);
$opacity-cool-grey-2:               rgba($cool-grey-80, .5);
$opacity-cool-grey-3:               rgba($cool-grey-10, .3);

$opacity-warm-grey-1:               rgba($warm-grey-15, .3);

$opacity-teal-1:                    rgba($teal, .5);

$opacity-neutral-1:                 rgba($neutral-10, .25);
$opacity-neutral-2:                 rgba($neutral-10, .50);

$opacity-error-1:                   rgba($error-10, .28);
$opacity-error-2:                   rgba($error-10, .35);


// Gradients

$gradient-1:                        linear-gradient(90deg, $green-10 50%, $blue-90 50%);

$gradient-2:                        linear-gradient(180deg, $cool-grey-20 0%, rgba($cool-grey-20,0) 100%);
$gradient-2-flip:                   linear-gradient(0deg, $cool-grey-20 0%, rgba($cool-grey-20,0) 100%);

$gradient-3:                        linear-gradient(180deg, rgba($navy-70,0) 2%, $navy-70 100%);

$gradient-4:                        linear-gradient(180deg, $white 0%, rgba($white,0) 100%);
$gradient-4-flip:                   linear-gradient(0deg, $white 0%, rgba($white,0) 100%);

$gradient-5:                        linear-gradient(180deg, $navy-70 0%, rgba($navy-70,0) 100%);
$gradient-5-flip:                   linear-gradient(0deg, $navy-70 0%, rgba($navy-70,0) 100%);

$gradient-6:                        linear-gradient(90deg, rgba($navy-70,0) 0%, $navy-70 100%);
$gradient-6-flip:                   linear-gradient(-90deg, rgba($navy-70,0) 0%, $navy-70 100%);

$gradient-7:                        linear-gradient(180deg, $white 33%, $cool-grey-20 100%);

$gradient-8:                        linear-gradient(0deg, rgba($white,0) 10%, rgba($white, .85) 100%);

$gradient-9:                        linear-gradient(0deg, rgba($navy-70,0) 10%, rgba($navy-70, .85) 100%);

$gradient-10:                       linear-gradient(180deg, rgba($navy-70,0) 0%, rgba($navy-70, .8) 100%);

$gradient-11:                       linear-gradient(180deg, rgba($black, 0.1) 0%, rgba($black, 0.6) 100%);

$gradient-12:                        linear-gradient(90deg, $blue-90 50%, $green-10 50%);

$gradient-13:                        linear-gradient(180deg, $white 25%, rgba($white,0) 75%);
$gradient-13-flip:                   linear-gradient(0deg, $white 25%, rgba($white,0) 75%);

$gradient-14:                        linear-gradient(180deg, $cool-grey-20 25%, rgba($cool-grey-20,0) 75%);
$gradient-14-flip:                   linear-gradient(0deg, $cool-grey-20 25%, rgba($cool-grey-20,0) 75%);

$gradient-15:                        linear-gradient(180deg, $navy-70 25%, rgba($navy-70,0) 75%);
$gradient-15-flip:                   linear-gradient(0deg, $navy-70 25%, rgba($navy-70,0) 75%);


// Path

$path-base:                         '..';
$img-path-base:                     '#{$path-base}/images';
$font-path-base:                    '#{$path-base}/fonts';

// Body

$min-width:                         320px;
$header-navigation-height:          76px;
$header-utility-height:             60px;

// Borders

$border-grey-1:                     rem(1px) solid $warm-grey-10;
$border-grey-2:                     rem(1px) solid $warm-grey-15;
$border-grey-3:                     rem(1px) solid $opacity-cool-grey-3;
$border-grey-4:                     rem(1px) solid $cool-grey-40;
$border-grey-5:                     rem(1px) solid $cool-grey-20;
$border-grey-6:                     rem(1px) solid $cool-grey-50;
$border-grey-7:                     rem(1px) solid $bright-blue-80;

$border-blue-1:                     rem(2px) solid $blue;
$border-blue-2:                     rem(4px) solid $neutral-70;

$border-teal-1:                     rem(1px) solid $teal-70;

$border-gold-1:                     rem(1px) solid $gold;

$border-neutral-1:                  rem(1px) solid $neutral-30;
$border-neutral-2:                  rem(1px) solid $neutral-10;

$border-error-1:                    rem(1px) solid $error-30;

// Border Radius

$border-radius:                     rem(2px);

// Dropdowns

$dropdown-spacing:                  rem(15px);

// Shadow

$shadow-hairline:                   rem(0px 0px 0px 1px) $warm-grey-15;
$shadow-light:                      rem(0 2px 5px 0) rgba($blue-50, .05), rem(0 7px 15px 0) rgba($black, .02), rem(0 5px 10px 0) rgba($black, .03), rem(0 2px 5px 0) rgba($black, .02);
$shadow-medium:                     rem(0 5px 10px 0) rgba($blue-50, .10), rem(0 15px 30px 0) rgba($black, .03), rem(0 10px 20px 0) rgba($black, .06), rem(0 5px 10px 0) rgba($black, .03);
$shadow-heavy:                      rem(0 5px 10px 0) rgba($blue-50, .10), rem(0 15px 30px 0) rgba($black, .06), rem(0 10px 20px 0) rgba($black, .20), rem(0 5px 10px 0) rgba($black, .10);

// Images

$image-large-width:                 rem(1920px);
$image-large-height:                rem(580px);
$image-large-width-mobile:          rem(510px);

// Wrapper

$wrapper-padding-xs:                rem(10px);
$wrapper-padding-md:                3vw;
$wrapper-padding-lg:                5vw;

// Switch (e21)

$switchHeight:                      rem(25px);
$switchSpace:                       rem(3px);

// Skeleton

$skeleton-width:                    rem(200px);

// Z index

$zindex-loading:                    900;
$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-modal:                      1050;
$zindex-popover:                    1060;
$zindex-tooltip:                    1070;
$zindex-overlay:                    1080;

// Opacity:

$opacity-0:                         0;
$opacity-10:                        .10;
$opacity-15:                        .15;
$opacity-20:                        .20;
$opacity-25:                        .25;
$opacity-30:                        .30;
$opacity-35:                        .35;
$opacity-40:                        .40;
$opacity-45:                        .45;
$opacity-50:                        .50;
$opacity-55:                        .55;
$opacity-60:                        .60;
$opacity-65:                        .65;
$opacity-70:                        .70;
$opacity-75:                        .75;
$opacity-80:                        .80;
$opacity-85:                        .85;
$opacity-90:                        .90;
$opacity-95:                        .95;
$opacity-100:                       1;

// Sections separates

$padding-sections:                  rem(60px);
$padding-sections-half:             math.div($padding-sections, 2);
$padding-sections-plus:             $padding-sections + math.div($padding-sections, 2);
$padding-sections-double:           $padding-sections * 2;
$padding-sections-double-plus:      $padding-sections * 2 + math.div($padding-sections, 2);

// Breakpoints map

$breakpoints:                       ("", "-lg", "-md", "-xs", "-md-up", "-md-down");

// Icons

$nis-add-user: "\e900";
$nis-anchor: "\e901";
$nis-archive: "\e902";
$nis-arrow-down-small: "\e903";
$nis-arrow-left-large: "\e904";
$nis-arrow-left-medium: "\e905";
$nis-arrow-left-small: "\e906";
$nis-arrow-left: "\e907";
$nis-arrow-right-large: "\e908";
$nis-arrow-right-medium: "\e909";
$nis-arrow-right-small: "\e90a";
$nis-arrow-right: "\e90b";
$nis-arrow-up-small: "\e90c";
$nis-asterisk: "\e90d";
$nis-award-solid: "\e90e";
$nis-award: "\e90f";
$nis-bars: "\e910";
$nis-beverages: "\e911";
$nis-bike: "\e912";
$nis-binoculars: "\e913";
$nis-brochure: "\e914";
$nis-calendar-rounded: "\e915";
$nis-calendar: "\e916";
$nis-camera: "\e917";
$nis-caret-down: "\e918";
$nis-caret-left: "\e919";
$nis-caret-right: "\e91a";
$nis-caret-up: "\e91b";
$nis-cart-off: "\e91c";
$nis-cart-on: "\e91d";
$nis-cart-solid: "\e91e";
$nis-check-user: "\e91f";
$nis-check: "\e920";
$nis-chevron-down: "\e921";
$nis-chevron-left: "\e922";
$nis-chevron-right-bold: "\e923";
$nis-chevron-right: "\e924";
$nis-chevron-up: "\e925";
$nis-chronometer: "\e926";
$nis-circle-check: "\e927";
$nis-circle-minus: "\e928";
$nis-circle-plus: "\e929";
$nis-circle-times: "\e92a";
$nis-clock: "\e92b";
$nis-cocktail-solid: "\e92c";
$nis-cocktail: "\e92d";
$nis-comment: "\e92e";
$nis-copy: "\e92f";
$nis-dash: "\e930";
$nis-dining: "\e931";
$nis-dot-circle: "\e932";
$nis-drops: "\e933";
$nis-email-back: "\e934";
$nis-email: "\e935";
$nis-exclamation: "\e936";
$nis-exit: "\e937";
$nis-expand-off: "\e938";
$nis-expand-on: "\e939";
$nis-external-link: "\e93a";
$nis-facebook: "\e93b";
$nis-favorite-off: "\e93c";
$nis-favorite-on: "\e93d";
$nis-flag-solid: "\e93e";
$nis-flag: "\e93f";
$nis-globe: "\e940";
$nis-google: "\e941";
$nis-hand-mony: "\e942";
$nis-helicopter: "\e943";
$nis-help: "\e944";
$nis-hotel: "\e945";
$nis-hourglass: "\e946";
$nis-instagram: "\e947";
$nis-level: "\e948";
$nis-like: "\e949";
$nis-map-marked: "\e94a";
$nis-map: "\e94b";
$nis-marker-solid: "\e94c";
$nis-marker: "\e94d";
$nis-minus: "\e94e";
$nis-money: "\e94f";
$nis-museum: "\e950";
$nis-ncl-shield: "\e951";
$nis-overnight-solid: "\e952";
$nis-overnight: "\e953";
$nis-pencil: "\e954";
$nis-phone-off: "\e955";
$nis-phone-on: "\e956";
$nis-pinterest: "\e957";
$nis-plane-dual: "\e958";
$nis-plane-solid: "\e959";
$nis-plane-up: "\e95a";
$nis-plane: "\e95b";
$nis-plus: "\e95c";
$nis-printer: "\e95d";
$nis-refresh: "\e95e";
$nis-resize: "\e95f";
$nis-search: "\e960";
$nis-settings: "\e961";
$nis-share: "\e962";
$nis-ship: "\e963";
$nis-sliders: "\e964";
$nis-stairs: "\e965";
$nis-star-rounded: "\e966";
$nis-star-thin: "\e967";
$nis-star: "\e968";
$nis-suitcase-off: "\e969";
$nis-suitcase-on: "\e96a";
$nis-sunglass: "\e96b";
$nis-tachometer-hight: "\e96c";
$nis-tachometer-low: "\e96d";
$nis-tachometer-medium: "\e96e";
$nis-thermometer: "\e96f";
$nis-times-bold: "\e970";
$nis-times: "\e971";
$nis-trash: "\e972";
$nis-triangle-exclamation: "\e973";
$nis-triangle-right-up: "\e974";
$nis-tropical: "\e975";
$nis-twitter: "\e976";
$nis-upload: "\e977";
$nis-user: "\e978";
$nis-vault: "\e979";
$nis-view-360: "\e97a";
$nis-view-grid: "\e97b";
$nis-view-list: "\e97c";
$nis-wave-bold: "\e97d";
$nis-wave: "\e97e";
$nis-wearable: "\e97f";
$nis-wheelchair: "\e980";
$nis-wifi-thin: "\e981";
$nis-wifi: "\e982";
$nis-wings: "\e983";
$nis-youtube: "\e984";
