//
// Theme Variables
//

$browser-context: 14; // Default

@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context};
}

// Fonts

$font-family-sans-serif:                $font-family-primary, sans-serif;
$font-family-serif:                     $font-family-secondary, serif;
$font-family-base:                      $font-family-sans-serif;

$font-weight-light:                     $text-light;
$font-weight-normal:                    $text-book;
$font-weight-medium:                    $text-medium;
$font-weight-bold:                      $text-bold;

$font-size-base:                        rem($text-size);
$line-height-base:                      1;
$font-weight-base:                      $font-weight-normal;
$font-family-icon:                      "norwegian-icons-set";

// Color system

$primary:                               $blue-60;
$secondary:                             $orange-50 !default;
$success:                               $green-80;
$info:                                  $teal-50;
$warning:                               $yellow;
$danger:                                $magenta;
$light:                                 $cool-grey-20;
$medium:                                $blue-80;
$dark:                                  $navy-70;

$theme-colors: ();
$theme-colors: map-merge((
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "medium":     $medium,
        "dark":       $dark,
        "white":      $white
), $theme-colors);

//
// Button colors
//
//

// Solid buttons

$btn-primary:                           $primary;
$btn-secondary:                         $secondary;
$btn-info:                              $white;

$btn-primary-text:                      $white;
$btn-secondary-text:                    $white;
$btn-info-text:                         $primary;

$btn-primary-border:                    $btn-primary;
$btn-secondary-border:                  $btn-secondary;
$btn-info-border:                       $btn-info;

$btn-primary-hover:                     $blue-70;
$btn-secondary-hover:                   $orange-60;
$btn-info-hover:                        $cool-grey-5;

$btn-primary-text-hover:                $white;
$btn-secondary-text-hover:              $white;
$btn-info-text-hover:                   $navy-80;

$btn-primary-border-hover:              $btn-primary-hover;
$btn-secondary-border-hover:            $btn-secondary-hover;
$btn-info-border-hover:                 $btn-info-hover;

$btn-primary-disabled:                  rgba($primary, .2);
$btn-secondary-disabled:                rgba($secondary, .5);
$btn-info-disabled:                     rgba($info, .5);

$btn-primary-text-disabled:             $white;
$btn-secondary-text-disabled:           $white;
$btn-info-text-disabled:                $navy-80;

$btn-primary-border-disabled:           transparent;
$btn-secondary-border-disabled:         transparent;
$btn-info-border-disabled:              transparent;

// Outline buttons

$btn-outline-primary:                   transparent;
$btn-outline-secondary:                 transparent;
$btn-outline-info:                      transparent;

$btn-outline-primary-text:              $btn-primary;
$btn-outline-secondary-text:            $btn-secondary;
$btn-outline-info-text:                 $btn-info;

$btn-outline-primary-border:            $teal-50;
$btn-outline-secondary-border:          $btn-secondary;
$btn-outline-info-border:               $btn-info;

$btn-outline-primary-hover:             transparent;
$btn-outline-secondary-hover:           transparent;
$btn-outline-info-hover:                transparent;

$btn-outline-primary-text-hover:        $navy-70;
$btn-outline-secondary-text-hover:      $navy-70;
$btn-outline-info-text-hover:           $navy-70;

$btn-outline-primary-border-hover:      $btn-outline-primary-border;
$btn-outline-secondary-border-hover:    $btn-outline-secondary-border;
$btn-outline-info-border-hover:         $btn-outline-info-border;

$btn-outline-primary-disabled:          transparent;
$btn-outline-secondary-disabled:        transparent;
$btn-outline-info-disabled:             transparent;

$btn-outline-primary-text-disabled:     rgba($btn-primary, .5);
$btn-outline-secondary-text-disabled:   rgba($btn-secondary, .5);
$btn-outline-info-text-disabled:        rgba($btn-info, .5);

$btn-outline-primary-border-disabled:   rgba($btn-outline-primary-border, .5);
$btn-outline-secondary-border-disabled: rgba($btn-outline-secondary-border, .5);
$btn-outline-info-border-disabled:      rgba($btn-outline-info-border, .5);

// Outline buttons BG-Dark

$btn-outline-primary-bg-dark:                   transparent;
$btn-outline-secondary-bg-dark:                 transparent;
$btn-outline-info-bg-dark:                      transparent;

$btn-outline-primary-text-bg-dark:              $bright-blue-50;
$btn-outline-secondary-text-bg-dark:            $btn-secondary;
$btn-outline-info-text-bg-dark:                 $btn-info;

$btn-outline-primary-border-bg-dark:            $bright-blue-50;
$btn-outline-secondary-border-bg-dark:          $btn-secondary;
$btn-outline-info-border-bg-dark:               $btn-info;

$btn-outline-primary-hover-bg-dark:             transparent;
$btn-outline-secondary-hover-bg-dark:           transparent;
$btn-outline-info-hover-bg-dark:                transparent;

$btn-outline-primary-text-hover-bg-dark:        $bright-blue-50;
$btn-outline-secondary-text-hover-bg-dark:      $btn-secondary;
$btn-outline-info-text-hover-bg-dark:           $navy-70;

$btn-outline-primary-border-hover-bg-dark:      $bright-blue-50;
$btn-outline-secondary-border-hover-bg-dark:    $btn-outline-secondary-border;
$btn-outline-info-border-hover-bg-dark:         $btn-outline-info-border;

$btn-outline-primary-disabled-bg-dark:          transparent;
$btn-outline-secondary-disabled-bg-dark:        transparent;
$btn-outline-info-disabled-bg-dark:             transparent;

$btn-outline-primary-text-disabled-bg-dark:     rgba($bright-blue-50, .5);
$btn-outline-secondary-text-disabled-bg-dark:   rgba($btn-secondary, .5);
$btn-outline-info-text-disabled-bg-dark:        rgba($btn-info, .5);

$btn-outline-primary-border-disabled-bg-dark:   rgba($bright-blue-50, .5);
$btn-outline-secondary-border-disabled-bg-dark: rgba($btn-outline-secondary-border, .5);
$btn-outline-info-border-disabled-bg-dark:      rgba($btn-outline-info-border, .5);

// Solid buttons maps

$btn-colors: ();
$btn-colors: map-merge((
        "primary":      $btn-primary,
        "secondary":    $btn-secondary,
        "info":         $btn-info,
), $btn-colors);

$btn-colors-text: ();
$btn-colors-text: map-merge((
        "primary":      $btn-primary-text,
        "secondary":    $btn-secondary-text,
        "info":         $btn-info-text,
), $btn-colors-text);

$btn-colors-border: ();
$btn-colors-border: map-merge((
        "primary":      $btn-primary-border,
        "secondary":    $btn-secondary-border,
        "info":         $btn-info-border,
), $btn-colors-border);

$btn-colors-hover: ();
$btn-colors-hover: map-merge((
        "primary":      $btn-primary-hover,
        "secondary":    $btn-secondary-hover,
        "info":         $btn-info-hover,
), $btn-colors-hover);

$btn-colors-text-hover: ();
$btn-colors-text-hover: map-merge((
        "primary":      $btn-primary-text-hover,
        "secondary":    $btn-secondary-text-hover,
        "info":         $btn-info-text-hover,
), $btn-colors-text-hover);

$btn-colors-border-hover: ();
$btn-colors-border-hover: map-merge((
        "primary":      $btn-primary-border-hover,
        "secondary":    $btn-secondary-border-hover,
        "info":         $btn-info-border-hover,
), $btn-colors-border-hover);

$btn-colors-disabled: ();
$btn-colors-disabled: map-merge((
        "primary":      $btn-primary-disabled,
        "secondary":    $btn-secondary-disabled,
        "info":         $btn-info-disabled,
), $btn-colors-disabled);

$btn-colors-text-disabled: ();
$btn-colors-text-disabled: map-merge((
        "primary":      $btn-primary-text-disabled,
        "secondary":    $btn-secondary-text-disabled,
        "info":         $btn-info-text-disabled,
), $btn-colors-text-disabled);

$btn-colors-border-disabled: ();
$btn-colors-border-disabled: map-merge((
        "primary":      $btn-primary-border-disabled,
        "secondary":    $btn-secondary-border-disabled,
        "info":         $btn-info-border-disabled,
), $btn-colors-border-disabled);

// Outline buttons maps

$btn-outline-colors: ();
$btn-outline-colors: map-merge((
        "primary":      $btn-outline-primary,
        "secondary":    $btn-outline-secondary,
        "info":         $btn-outline-info,
), $btn-outline-colors);

$btn-outline-colors-text: ();
$btn-outline-colors-text: map-merge((
        "primary":      $btn-outline-primary-text,
        "secondary":    $btn-outline-secondary-text,
        "info":         $btn-outline-info-text,
), $btn-outline-colors-text);

$btn-outline-colors-border: ();
$btn-outline-colors-border: map-merge((
        "primary":      $btn-outline-primary-border,
        "secondary":    $btn-outline-secondary-border,
        "info":         $btn-outline-info-border,
), $btn-outline-colors-border);

$btn-outline-colors-hover: ();
$btn-outline-colors-hover: map-merge((
        "primary":      $btn-outline-primary-hover,
        "secondary":    $btn-outline-secondary-hover,
        "info":         $btn-outline-info-hover,
), $btn-outline-colors-hover);

$btn-outline-colors-text-hover: ();
$btn-outline-colors-text-hover: map-merge((
        "primary":      $btn-outline-primary-text-hover,
        "secondary":    $btn-outline-secondary-text-hover,
        "info":         $btn-outline-info-text-hover,
), $btn-outline-colors-text-hover);

$btn-outline-colors-border-hover: ();
$btn-outline-colors-border-hover: map-merge((
        "primary":      $btn-outline-primary-border-hover,
        "secondary":    $btn-outline-secondary-border-hover,
        "info":         $btn-outline-info-border-hover,
), $btn-outline-colors-border-hover);

$btn-outline-colors-disabled: ();
$btn-outline-colors-disabled: map-merge((
        "primary":      $btn-outline-primary-disabled,
        "secondary":    $btn-outline-secondary-disabled,
        "info":         $btn-outline-info-disabled,
), $btn-outline-colors-disabled);

$btn-outline-colors-text-disabled: ();
$btn-outline-colors-text-disabled: map-merge((
        "primary":      $btn-outline-primary-text-disabled,
        "secondary":    $btn-outline-secondary-text-disabled,
        "info":         $btn-outline-info-text-disabled,
), $btn-outline-colors-text-disabled);

$btn-outline-colors-border-disabled: ();
$btn-outline-colors-border-disabled: map-merge((
        "primary":      $btn-outline-primary-border-disabled,
        "secondary":    $btn-outline-secondary-border-disabled,
        "info":         $btn-outline-info-border-disabled,
), $btn-outline-colors-border-disabled);

// Buttons Outline BG-Dark maps

$btn-outline-colors-bg-dark: ();
$btn-outline-colors-bg-dark: map-merge((
        "primary":      $btn-outline-primary-bg-dark,
        "secondary":    $btn-outline-secondary-bg-dark,
        "info":         $btn-outline-info-bg-dark,
), $btn-outline-colors-bg-dark);

$btn-outline-colors-text-bg-dark: ();
$btn-outline-colors-text-bg-dark: map-merge((
        "primary":      $btn-outline-primary-text-bg-dark,
        "secondary":    $btn-outline-secondary-text-bg-dark,
        "info":         $btn-outline-info-text-bg-dark,
), $btn-outline-colors-text-bg-dark);

$btn-outline-colors-border-bg-dark: ();
$btn-outline-colors-border-bg-dark: map-merge((
        "primary":      $btn-outline-primary-border-bg-dark,
        "secondary":    $btn-outline-secondary-border-bg-dark,
        "info":         $btn-outline-info-border-bg-dark,
), $btn-outline-colors-border-bg-dark);

$btn-outline-colors-hover-bg-dark: ();
$btn-outline-colors-hover-bg-dark: map-merge((
        "primary":      $btn-outline-primary-hover-bg-dark,
        "secondary":    $btn-outline-secondary-hover-bg-dark,
        "info":         $btn-outline-info-hover-bg-dark,
), $btn-outline-colors-hover-bg-dark);

$btn-outline-colors-text-hover-bg-dark: ();
$btn-outline-colors-text-hover-bg-dark: map-merge((
        "primary":      $btn-outline-primary-text-hover-bg-dark,
        "secondary":    $btn-outline-secondary-text-hover-bg-dark,
        "info":         $btn-outline-info-text-hover-bg-dark,
), $btn-outline-colors-text-hover-bg-dark);

$btn-outline-colors-border-hover-bg-dark: ();
$btn-outline-colors-border-hover-bg-dark: map-merge((
        "primary":      $btn-outline-primary-border-hover-bg-dark,
        "secondary":    $btn-outline-secondary-border-hover-bg-dark,
        "info":         $btn-outline-info-border-hover-bg-dark,
), $btn-outline-colors-border-hover-bg-dark);

$btn-outline-colors-disabled-bg-dark: ();
$btn-outline-colors-disabled-bg-dark: map-merge((
        "primary":      $btn-outline-primary-disabled-bg-dark,
        "secondary":    $btn-outline-secondary-disabled-bg-dark,
        "info":         $btn-outline-info-disabled-bg-dark,
), $btn-outline-colors-disabled-bg-dark);

$btn-outline-colors-text-disabled-bg-dark: ();
$btn-outline-colors-text-disabled-bg-dark: map-merge((
        "primary":      $btn-outline-primary-text-disabled-bg-dark,
        "secondary":    $btn-outline-secondary-text-disabled-bg-dark,
        "info":         $btn-outline-info-text-disabled-bg-dark,
), $btn-outline-colors-text-disabled-bg-dark);

$btn-outline-colors-border-disabled-bg-dark: ();
$btn-outline-colors-border-disabled-bg-dark: map-merge((
        "primary":      $btn-outline-primary-border-disabled-bg-dark,
        "secondary":    $btn-outline-secondary-border-disabled-bg-dark,
        "info":         $btn-outline-info-border-disabled-bg-dark,
), $btn-outline-colors-border-disabled-bg-dark);

// Select Buttons

$btn-colors-selected: ();
$btn-colors-selected: map-merge((
        "primary":    $bright-blue-30,
        "secondary":  $orange-60,
        "info":       $btn-info-hover,
), $btn-colors-selected);

// Breakpoints map

$breakpoints: ("", "-lg", "-md", "-xs", "-md-up", "-md-down");

// Properties Buttons

$btn-font-size-sm:               rem(12px);
$btn-line-height-sm:             rem(14px);
$btn-letter-spacing-sm:          rem(1.5px);
$btn-padding-y-sm:               rem(2px);
$btn-padding-x-sm:               rem(5px);
$btn-border-radius-sm:           rem(2px);

$btn-font-size-lg:               rem(14px);
$btn-line-height-lg:             rem(16px);
$btn-letter-spacing-lg:          rem(1.75px);
$btn-padding-y-lg:               rem(16px);
$btn-padding-x-lg:               rem(20px);
$btn-border-radius-lg:           rem(2px);

$btn-font-size:                  rem(14px);
$btn-line-height:                rem(16px);
$btn-letter-spacing:             rem(1.5px);
$btn-padding-y:                  rem(11px);
$btn-padding-x:                  rem(20px);
$btn-border-radius:              rem(2px);

// Properties Checkbox as Buttons

$btn-check-font-size:            rem(14px);
$btn-check-line-height:          rem(20px);
$btn-check-letter-spacing:       rem(.35px);
$btn-check-padding-y:            rem(9px);
$btn-check-padding-x:            rem(15px);
$btn-check-border-radius:        rem(2px);

$btn-check-font-size-lg:         rem(20px);
$btn-check-line-height-lg:       rem(23px);
$btn-check-letter-spacing-lg:    rem(.25px);
$btn-check-padding-y-lg:         rem(14px);
$btn-check-padding-x-lg:         rem(15px);
$btn-check-border-radius-lg:     rem(2px);

// Grid breakpoints

$grid-breakpoints: (
        xs: 0,
        md: 768px,
        lg: 1025px,
        xl: 1441px
);

// Grid containers

$container-lg:                      1440px;
$container-md:                      1024px;

$container-max-widths: (
        md: rem($container-md),
        lg: rem($container-lg)
);

// Grid columns

$grid-gutter-width:                 20px;

// Body

$body-bg:                           $cool-grey-20;
$body-color:                        $bright-blue-80;

// Links

$link-color:                        $blue-60;
$link-decoration:                   none;
$link-hover-color:                  $navy-70;
$link-hover-decoration:             none;

// Components

$caret-color:                       $teal-50;

// Dropdowns

$dropdown-min-width:                rem(100px);
$dropdown-spacer:                   0;
$dropdown-border-width:             0;
$dropdown-border-color:             transparent;

$dropdown-padding-y:                rem(20px);

// Badges

$badge-border-radius:               rem(20px);
$badge-padding-y:                   rem(1.5px);
$badge-padding-x:                   rem(2px);

// Sections separates

$padding-sections:                  rem(60px);
$padding-sections-half:             $padding-sections / 2;
$padding-sections-plus:             $padding-sections + $padding-sections / 2;
$padding-sections-double:           $padding-sections * 2;
$padding-sections-double-plus:      $padding-sections * 2 + $padding-sections / 2;

//Inputs

$input-btn-line-height-lg:          1.1;
$input-btn-padding-y-lg:            rem(16px);
$input-btn-padding-x-lg:            rem(30px);
$font-size-lg:                      rem(15px);

$input-btn-line-height:             1.55;
$input-btn-padding-y:               rem(10px);
$input-btn-padding-x:               rem(30px);
$input-btn-focus-width:             0;
$font-size-md:                      rem(12px);

$input-btn-line-height-sm:          1.05;
$input-btn-padding-y-sm:            rem(10px);
$input-btn-padding-x-sm:            rem(30px);
$font-size-sm:                      rem(12px);

$input-height:                      rem(40px);

// Forms

$input-border-radius:               rem(2px);
$input-border-color:                $opacity-teal-1;
$input-color:                       $navy-70;
$input-focus-border-color:          $teal-50;
$input-placeholder-color:           rgba($navy-70, 0.5);
$input-line-height:                 rem(24px);
$input-padding-y:                   0;
$input-padding-x:                   rem(15px);

$form-group-margin-bottom:          rem(20px);

// Checkbox

$custom-checkbox-indicator-border-radius:          $btn-border-radius;
$custom-control-indicator-checked-bg:              $teal-50;
$custom-control-label-disabled-color:              rgba($blue-60, .5);

$custom-control-label-font-size:                   rem(15px);
$custom-control-label-font-size-xs:                rem(20px);

$custom-control-indicator-size:                    rem(18px);
$custom-control-indicator-size-xs:                 rem(24px);

$custom-control-gutter:                            rem(10px);

// Opacity:

$opacity-0:                                         0;
$opacity-10:                                       .10;
$opacity-15:                                       .15;
$opacity-20:                                       .20;
$opacity-25:                                       .25;
$opacity-30:                                       .30;
$opacity-35:                                       .35;
$opacity-40:                                       .40;
$opacity-45:                                       .45;
$opacity-50:                                       .50;
$opacity-55:                                       .55;
$opacity-60:                                       .60;
$opacity-65:                                       .65;
$opacity-70:                                       .70;
$opacity-75:                                       .75;
$opacity-80:                                       .80;
$opacity-85:                                       .85;
$opacity-90:                                       .90;
$opacity-95:                                       .95;
$opacity-100:                                       1;

// Modals:

$modal-backdrop-bg:                                $cool-grey-10;
$modal-backdrop-opacity:                           $opacity-75;
