/* Component styles */
.c387 {
    $a: &;
    &_body {
        margin-bottom: rem(30px);
    }
    &_aside {
        &_item {
            display: flex;
            &:not(:last-child) {
                margin-bottom: rem(10px);
            }
            .btn {
                min-width: rem(230px);
                @include media-breakpoint-down(xs) {
                    width: 100%;
                }
            }
        }
    }
    &_footer {
        padding-top: rem(30px);
    }
    &.-variant-1 {
        #{$a}_body {
            border-top: $border-grey-2;
            padding-top: rem(20px);
            margin-top: rem(20px);
            margin-bottom: 0;
            .e36 {
                margin-top: rem(4px)
            }
        }
    }
}
