/* Module styles */
.m106 {
    $a: &;
    $iconWidth: rem(30px);
    $iconOffset: rem(10px);
    $iconOffsetTop: rem(15px);
    &_body {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: rem(5px 0);
        min-height: rem(26px);
    }
    &_block {
        >.listing {
            flex-direction: row-reverse;
            align-items: center;
            >.listing_item {
                display: flex;
                &:not(:first-child) {
                    padding-right: rem(10px);
                    margin-right: rem(10px);
                    border-right: $border-grey-7;
                }
                .dropdown {
                    display: inline-flex;
                }
            }
        }
        &:not(:last-child) {
            padding-left: rem(20px);
        }
        &.-link {
            flex-shrink: 0;
        }
        &.-text {
            white-space: nowrap;
            overflow: hidden;
            display: flex;
            flex: 1 1 auto;
        }
    }
    &_text {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &_link {
        &_text {
            animation: fadeIn 0.35s;
        }
        &_figure {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-radius: 50%;
            background-color: $blue;
            animation: fadeOut 0.35s;
            visibility: hidden;
            opacity: 0;
            width: 0;
            height: 0;
        }
        &_image {
            width: 55%;
            height: 55%;
        }
    }
    &.-variant-1 {
        .modal-open &,
        &.-fixed {
            #{$a}_body {
                @include media-breakpoint-up(lg) {
                    margin: 0 (-($iconOffset + $iconWidth));
                }
                @include media-breakpoint-only(md) {
                    margin: 0 (-$iconOffset*2);
                }
            }
            #{$a}_block {
                >.listing {
                    >.listing_item {
                        &:not(:first-child) {
                            padding-right: 0;
                            margin-right: 0;
                            border-right: none;
                        }
                        .dropdown {
                            display: inline-flex;
                        }
                    }
                }
            }
            #{$a}_link {
                position: fixed;
                z-index: $zindex-overlay + 1;
                &_text {
                    display: none;
                }
                &_figure {
                    animation: fadeIn 0.35s;
                    visibility: visible;
                    opacity: 1;
                    width: $iconWidth;
                    height: $iconWidth;
                }
            }
            @include classBpModifier(-icon-left-top) {
                #{$a}_body {
                    justify-content: flex-start;
                }
                #{$a}_link {
                    top: $iconOffsetTop;
                }
            }
            @include classBpModifier(-icon-left-bottom) {
                #{$a}_body {
                    justify-content: flex-start;
                }
                #{$a}_link {
                    top: auto;
                    bottom: $iconOffset;
                }
            }
            @include classBpModifier(-icon-right-top) {
                #{$a}_link {
                    top: $iconOffsetTop;
                }
            }
            @include classBpModifier(-icon-right-bottom) {
                #{$a}_link {
                    top: auto;
                    bottom: $iconOffset;
                }
            }
        }
    }
}
