/* Element styles */
.e27 {
    $a: &;
    display: flex;
    justify-content: center;
    &_item {
        &:not(:last-child) {
            margin-right: rem(5px);
        }
    }
    html[dir="rtl"] & {
        #{$a}_item {
            &:not(:last-child) {
                margin-right: 0;
                margin-left: rem(5px);
            }
        }
    }
}
