//
// ANIMATIONS
//

@mixin fadeInBack {
    visibility: visible;
    opacity: 1;
    transition-delay: 0;
    @include media-breakpoint-up(md) {
        transition: 0.15s;
    }
    @include media-breakpoint-down(xs) {
        transition: 0.25s;
    }
}

@mixin fadeOutBack {
    visibility: hidden;
    opacity: 0;
    @include media-breakpoint-up(md) {
        transition: 0.15s;
        transition-delay: 0.15s;
    }
    @include media-breakpoint-down(xs) {
        transition: 0.25s;
        transition-delay: 0.25s;
    }
}

@mixin fadeInWrap {
    visibility: visible;
    opacity: 1;
    transition: 0.25s;
    @include media-breakpoint-up(md) {
        transition-delay: 0.15s;
    }
    @include media-breakpoint-down(xs) {
        transition-delay: 0.25s;
    }
}

@mixin fadeOutWrap {
    visibility: hidden;
    opacity: 0;
    transition-delay: 0;
    @include media-breakpoint-up(md) {
        transition: 0.15s;
    }
    @include media-breakpoint-down(xs) {
        transition: 0.25s;
    }
}

@mixin slideInRight {
    transform: translateX(0);
    transition-delay: 0;
    @include media-breakpoint-up(md) {
        transition: 0.2s;
    }
    @include media-breakpoint-down(xs) {
        transition: 0.3s;
    }
}

@mixin slideOutRight {
    transform: translateX(100%);
    @include media-breakpoint-up(md) {
        transition: 0.2s;
        transition-delay: 0.1s;
    }
    @include media-breakpoint-down(xs) {
        transition: 0.4s;
        transition-delay: 0.2s;
    }
}

@mixin zIndexAnimate($zindex) {
    animation: zIndexAnim#{$zindex} 0s forwards;
    @keyframes zIndexAnim#{$zindex} {
        0% {
        }
        100% {
            z-index: $zindex;
        }
    }
}