//
// TEXT
//

%fontPrimary {
    font-family: $font-merriweather;
}
%fontSecondary {
    font-family: $font-futura-book;
}
%fontSecondaryLight {
    font-family: $font-futura-light;
}
%fontSecondaryMedium {
    font-family: $font-futura-medium;
}
%fontSecondaryBold {
    font-family: $font-futura-bold;
}
%fontWebSafe {
    font-family: $font-web-safe;
}
