@import "commons";
@import "reboot";
@import "utilities";

@import "grid";

@import "base/global";
@import "base/license";
@import "base/fonts";
@import "base/text";

@import "transitions";
@import "dropdown";
@import "buttons";
@import "button-group";
@import "custom-forms";
@import "badge";
@import "forms";
@import "modal";
@import "nav";
@import "tooltip";
@import "popover";










.text {
  font-family: $font-family-primary;
  line-height: $line-height-base;
  border-radius: $border-radius;
  color: $primary;
  background: $secondary;
}