//
// BUTTON GROUP
//

.btn-group,
.btn-group-vertical {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	>.btn {
		position: relative;
		flex: 0 1 auto; // Bring the hover, focused, and "active" buttons to the front to overlay
		// the borders properly
		@include hover {
			z-index: 1;
		}
		&:focus,
		&:active,
		&.active {
			z-index: 1;
		}
	} // Prevent double borders when buttons are next to each other
	.btn+.btn,
	.btn+.btn-group,
	.btn-group+.btn,
	.btn-group+.btn-group {
		margin-left: -$btn-border-width;
	}
}

// Optional: Group multiple button groups together for a toolbar
.btn-toolbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	.input-group {
		width: auto;
	}
}

.btn-group {
	>.btn:first-child {
		margin-left: 0;
	}
	&_icon {
		padding-right: rem(5px);
		@include media-breakpoint-up(md) {
			font-size: rem(18px);
		}
		@include media-breakpoint-down(xs) {
			font-size: rem(20px);
		}
		html[dir="rtl"] & {
			padding-right: 0;
			padding-left: rem(5px);
			&.nis-plane {
				&:before {
					display: inline-block;
					transform: rotateY(180deg);
				}
			}
		}
	}
	&.-variant-1 {
		&:not(:last-child) {
			@include media-breakpoint-down(xs) {
				margin-bottom: 0;
				padding-right: rem(10px);
			}
		}
		>.btn {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			@include media-breakpoint-down(xs) {
				padding: rem(8px 10px);
				font-size: rem(16px);
			}
		}
		html[dir="rtl"] & {
			&:not(:last-child) {
				@include media-breakpoint-down(xs) {
					padding-left: rem(10px);
					padding-right: 0;
				}
			}
		}
	}
}

//
// Split button dropdowns
//
.dropdown-toggle-split {
	padding-right: $btn-padding-x * .75;
	padding-left: $btn-padding-x * .75;
	&::after,
	.dropup &::after,
	.dropright &::after {
		margin-left: 0;
	}
	.dropleft &::before {
		margin-right: 0;
	}
}

.btn-sm+.dropdown-toggle-split {
	padding-right: $btn-padding-x-sm * .75;
	padding-left: $btn-padding-x-sm * .75;
}

.btn-lg+.dropdown-toggle-split {
	padding-right: $btn-padding-x-lg * .75;
	padding-left: $btn-padding-x-lg * .75;
}

//
// Vertical button groups
//
.btn-group-vertical {
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	.btn,
	.btn-group {
		width: 100%;
	}
	>.btn+.btn,
	>.btn+.btn-group,
	>.btn-group+.btn,
	>.btn-group+.btn-group {
		margin-top: -$btn-border-width;
		margin-left: 0;
	}
}

.btn-group-toggle {
	>.btn,
	>.btn-group>.btn {
		input[type="radio"],
		input[type="checkbox"] {
			position: absolute;
			clip: rect(0, 0, 0, 0);
			pointer-events: none;
		}
	}
}
