//
// TEXTS
//

// Alignment

@include classBp(text-justify) {
    text-align: justify !important;
}
@include classBp(text-nowrap) {
    white-space: nowrap !important;
}
@include classBp(text-truncate) {
    @include text-truncate;
}

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        .text#{$infix}-left   { text-align: left !important; }
        .text#{$infix}-right  { text-align: right !important; }
        .text#{$infix}-center { text-align: center !important; }
    }
}

// Transformation

@include classBp(text-lowercase) {
    text-transform: lowercase !important;
}
@include classBp(text-uppercase) {
    text-transform: uppercase !important;
}
@include classBp(text-capitalize) {
    text-transform: capitalize !important;
}
@include classBp(text-underline) {
    text-decoration: underline !important;
}

// Contextual colors

@each $name, $color in $color-map {
    @include classBp(text-#{$name}){
        color:$color !important;
    };
}

.text-shadow {
    text-shadow: rem(3px) rem(7px) rem(26px) rgba($teal-90, 0.8);
}

// Weight

.text-primary {
    &-light {
        font-weight: $text-light;
    }
    &-book {
        font-weight: $text-book;
    }
    &-regular {
        font-weight: $text-regular;
    }
    &-medium {
        font-weight: $text-medium;
    }
    &-bold {
        font-weight: $text-bold;
    }
}

.text-secondary {
    &-light {
        font-family: $font-futura-light;
    }
    &-book {
        font-family: $font-futura-book;
    }
    &-medium {
        font-family: $font-futura-medium;
    }
    &-bold {
        font-family: $font-futura-bold;
    }
}
