//
// TEXTS
//

// Alignment

@include classBp(text-justify) {
    text-align: justify !important;
}
@include classBp(text-nowrap) {
    white-space: nowrap !important;
}
@include classBp(text-truncate) {
    @include text-truncate;
}

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        .text#{$infix}-left   { text-align: left !important; }
        .text#{$infix}-right  { text-align: right !important; }
        .text#{$infix}-center { text-align: center !important; }
    }
}

// Transformation

@include classBp(text-lowercase) {
    text-transform: lowercase !important;
}
@include classBp(text-uppercase) {
    text-transform: uppercase !important;
}
@include classBp(text-capitalize) {
    text-transform: capitalize !important;
}
@include classBp(text-underline) {
    text-decoration: underline !important;
}

$color-map : (
    'navy':$navy,
    'blue':$blue,
    'teal':$teal,
    'bright-blue':$bright-blue,
    'white':$white,
    'black':$black,
    'warm-grey':$warm-grey,
    'orange':$orange,
    'yellow':$yellow,
    'magenta':$magenta,
    'navy-10':$navy-10,
    'navy-20':$navy-20,
    'navy-30':$navy-30,
    'navy-40':$navy-40,
    'navy-50':$navy-50,
    'navy-60':$navy-60,
    'navy-70':$navy-70,
    'navy-80':$navy-80,
    'navy-90':$navy-90,
    'blue-10':$blue-10,
    'blue-20':$blue-20,
    'blue-30':$blue-30,
    'blue-40':$blue-40,
    'blue-50':$blue-50,
    'blue-60':$blue-60,
    'blue-70':$blue-70,
    'blue-80':$blue-80,
    'blue-90':$blue-90,
    'teal-10':$teal-10,
    'teal-20':$teal-20,
    'teal-30':$teal-30,
    'teal-40':$teal-40,
    'teal-50':$teal-50,
    'teal-60':$teal-60,
    'teal-70':$teal-70,
    'teal-80':$teal-80,
    'teal-90':$teal-90,
    'bright-blue-10':$bright-blue-10,
    'bright-blue-20':$bright-blue-20,
    'bright-blue-30':$bright-blue-30,
    'bright-blue-40':$bright-blue-40,
    'bright-blue-50':$bright-blue-50,
    'bright-blue-60':$bright-blue-60,
    'bright-blue-70':$bright-blue-70,
    'bright-blue-80':$bright-blue-80,
    'bright-blue-90':$bright-blue-90,
    'warm-grey-10':$warm-grey-10,
    'warm-grey-15':$warm-grey-15,
    'warm-grey-20':$warm-grey-20,
    'warm-grey-30':$warm-grey-30,
    'warm-grey-40':$warm-grey-40,
    'warm-grey-50':$warm-grey-50,
    'warm-grey-60':$warm-grey-60,
    'warm-grey-70':$warm-grey-70,
    'warm-grey-80':$warm-grey-80,
    'warm-grey-90':$warm-grey-90,
    'cool-grey-5':$cool-grey-5,
    'cool-grey-10':$cool-grey-10,
    'cool-grey-20':$cool-grey-20,
    'cool-grey-30':$cool-grey-30,
    'cool-grey-40':$cool-grey-40,
    'cool-grey-50':$cool-grey-50,
    'cool-grey-60':$cool-grey-60,
    'cool-grey-70':$cool-grey-70,
    'cool-grey-80':$cool-grey-80,
    'cool-grey-90':$cool-grey-90,
    'green-10':$green-10,
    'green-50':$green-50,
    'green-80':$green-80,
    'orange-50':$orange-50,
    'orange-60':$orange-60,
    'grey-blue':$grey-blue,
    'gold':$gold,
    'neutral-10':$neutral-10,
    'neutral-30':$neutral-30,
    'neutral-50':$neutral-50,
    'neutral-70':$neutral-70,
    'neutral-90':$neutral-90,
    'important-10':$important-10,
    'important-30':$important-30,
    'important-50':$important-50,
    'important-70':$important-70,
    'important-90':$important-90,
    'success-10':$success-10,
    'success-30':$success-30,
    'success-50':$success-50,
    'success-70':$success-70,
    'success-90':$success-90,
    'error-10':$error-10,
    'error-30':$error-30,
    'error-50':$error-50,
    'error-70':$error-70,
    'error-90':$error-90
);

@each $name, $color in $color-map {
    @include classBp(text-#{$name}){
        color:$color !important;
    };
}

.text-shadow {
    text-shadow: rem(3px) rem(7px) rem(26px) rgba($teal-90, 0.8);
}

.text-primary {
    &-light {
        font-weight: $text-light;
    }
    &-book {
        font-weight: $text-book;
    }
    &-regular {
        font-weight: $text-regular;
    }
    &-medium {
        font-weight: $text-medium;
    }
    &-bold {
        font-weight: $text-bold;
    }
}

.text-secondary {
    &-light {
        font-family: $font-futura-light;
    }
    &-book {
        font-family: $font-futura-book;
    }
    &-medium {
        font-family: $font-futura-medium;
    }
    &-bold {
        font-family: $font-futura-bold;
    }
}
