/* Element styles */
.e84 {
    $a: &;
    display: inline-flex;
    @include media-breakpoint-down(xs) {
        flex-direction: column;
    }
    &_aside {
        @include media-breakpoint-up(md) {
            margin-right: rem(5px);
        }
        @include media-breakpoint-down(xs) {
            margin-bottom: rem(5px);
        }
    }
    &_subtitle {
    }
    &.-rtl {
        flex-direction: row-reverse;
        #{$a}_aside {
            margin-right: 0;
            margin-bottom: 0;
        }
        #{$a}_subtitle {
            margin-right: rem(5px);
        }
        html[dir="rtl"] & {
            #{$a}_subtitle {
                margin-left: rem(5px);
                margin-right: 0;
            }
            #{$a}_aside {
                margin-left: 0;
            }
        }
    }
    html[dir="rtl"] & {
        #{$a}_aside {
            @include media-breakpoint-up(md) {
                margin-left: rem(5px);
                margin-right: 0;
            }
        }
    }
}
